.heroSection {
  height: 75vh;
  //   min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  //   aspect-ratio: 16 / 9;

  background-position: center;
  background-size: cover;
  //   background-image: ;

  @include respond-below(md) {
    height: 60vh;
  }

  .heroContent {
    position: relative;
    z-index: 2;

    h1 {
      font-family: $font-ChickenRice, sans-serif;
      font-size: 40px;
      letter-spacing: 4px;
      margin-bottom: 25px;
      color: $color-accent1;
      text-transform: uppercase;
      font-weight: 600;
      text-shadow: 0px 0px 10px rgb(0, 0, 0);
    }

    img {
      max-width: 350px;
      height: auto;

      @include respond-below(md) {
        max-width: 250px;
      }
    }
  }
}
