@import "~bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: "MainFont";
  src: url("/fonts/AcuminVariableConcept.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FarmHouse";
  src: url("/fonts/FarmHouse.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brownist";
  src: url("/fonts/Brownist.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ChickenRice";
  src: url("/fonts/Chicken Rice.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "MainFont", sans-serif;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
