.SearchBar {
  background-color: white;
  padding: 4px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 0px;
  border: 1px solid rgb(213, 213, 213);
  width: 100%;

  svg {
    color: rgb(156, 155, 155);
    cursor: pointer;
  }

  &:has(input:focus) {
    border-color: $color-primary1;
  }
  input {
    background-color: transparent;
    border: none;
    padding: 2px 10px;
    outline: none;
    width: 100%;
  }
}
