$color_o2: #fee9b6;
$color_o3: #fbe5b5;
$color_o4: #fb9329;
$color_o5: #fd4a02;

$color_p2: #2a235a;
$color_p1: #004807;

$color_p1_mild: #00480784;

$color_g1: #f1f2f4;
$color_g2: #a3aab2;
$color_g3: #5a5e63;
$color_g4: #80858b62;

$color_s1: rgb(70, 127, 207);
$color_s1_mild: rgba(70, 127, 207, 0.1);

$color_success: rgb(34, 192, 60);
$color_success_mild: rgba(34, 192, 60, 0.1);

$color_danger: rgb(227, 74, 66);
$color_dander_mild: rgba(227, 74, 66, 0.1);

$color_link_blue: rgb(0, 123, 255);

$box_padding: 10px;

$color-p1: #001841;
$color-p2: #1543a0;
$color-p3: #6ec1e4;
$color-s1: #aeca2e;
$color-s2: #54595f;
$color-g1: #7a7a7a;
