.ProductImageSection {
  // background-color: #f7cfcf;
  max-width: 100vdw;
  overflow: hidden;
  height: 100dvh;
  display: flex;
  align-items: center;

  .wrap {
    display: grid;
    grid-template-columns: 2fr 50%;

    .left {
      @include flexCenter;
    }

    .right {
      @include flexCenter;

      .rCont {
        @include flexCenter;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        p {
          max-width: 500px;
          font-size: 14px;
          span {
            font-size: 30px;
            font-weight: bold;
            font-family: Brownist;
            color: #7a1238;
            margin-right: 10px;
            letter-spacing: 1px;
          }
        }

        .form {
          width: 580px;
          font-size: 34px;
          color: #7a1238;
          letter-spacing: 6px;
          font-weight: 400;
        }

        .bot {
          // width: 700px;
          // height: 180px;
          img {
            max-width: 460px;
          }
          margin-top: 20px;
          position: relative;

          // background-image: url("/images/arr.png");
          background-size: 65%;
          background-repeat: no-repeat;
          background-position: 70px center;

          > div {
            position: absolute;
            font-family: ChickenRice;
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 28px;

            &.lt {
              top: 0;
              left: 0;
            }

            &.rt {
              top: 0;
              right: 0;
            }

            &.lb {
              bottom: 0;
              left: 0;
            }

            &.rb {
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }
  }

  @include respond-below(md) {
    height: fit-content;
    padding-bottom: 100px;
    .wrap {
      display: block;

      .right {
        text-align: center;
        .rCont {
          gap: 40px;

          p {
            width: 300px;
          }
          .form {
            font-size: 24px;
            letter-spacing: 4px;
          }

          .bot {
            width: 60%;
          }
        }
      }
    }
  }
}
